
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.netlify.app
 * 代码仓库
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
    
.mini-card[data-v-4787410b]{position:relative;color:#fff;text-shadow:0 0 2px #000;cursor:pointer}.mini-card :hover .el-icon[data-v-4787410b]{right:0;top:0}.mini-card[data-v-4787410b] .el-card__header{position:relative;z-index:1;border-bottom:0;font-size:18px}.mini-card[data-v-4787410b] .el-card__body{padding-top:0}.mini-card .num[data-v-4787410b]{position:relative;z-index:1;font-size:36px}.mini-card .tip[data-v-4787410b]{margin-top:10px;font-size:14px;color:#eee}.mini-card .el-icon[data-v-4787410b]{transition:.3s;font-size:120px;position:absolute;right:-30px;top:-10px}
