
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.netlify.app
 * 代码仓库
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
    
@charset "UTF-8";.goods-card[data-v-d8a2bca8]{position:relative;margin-bottom:20px;text-align:center;cursor:pointer}.goods-card .image[data-v-d8a2bca8]{width:80%}.goods-card .title[data-v-d8a2bca8]{font-size:16px;font-weight:700;margin:8px 0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.goods-card .sub-title[data-v-d8a2bca8]{font-size:14px;color:#808695;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.goods-card .price[data-v-d8a2bca8]{margin-top:8px}.goods-card .price .sales[data-v-d8a2bca8],.goods-card .price .original[data-v-d8a2bca8]{font-size:14px;color:#ff6700;margin:0 5px}.goods-card .price .sales[data-v-d8a2bca8]:before,.goods-card .price .original[data-v-d8a2bca8]:before{content:"\ffe5";font-size:14px}.goods-card .price .sales[data-v-d8a2bca8]{font-size:18px}.goods-card .price .original[data-v-d8a2bca8]{color:#c5c8ce;text-decoration:line-through}.goods-card .tags[data-v-d8a2bca8]{position:absolute;top:15px;right:15px}
