
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.netlify.app
 * 代码仓库
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
    
.el-card[data-v-46e3ceee]{margin-bottom:15px}.el-card[data-v-46e3ceee] .el-card__body{display:flex;justify-content:center;cursor:pointer}.el-card i[data-v-46e3ceee]{font-size:24px}[data-v-46e3ceee] .el-dialog .el-dialog__body{padding:0 30px 30px}[data-v-46e3ceee] .el-dialog .icon-box{display:flex;justify-content:center;align-items:center;width:80px;height:80px;border:1px solid #e0e8ef}[data-v-46e3ceee] .el-dialog .icon-box i{font-size:60px}[data-v-46e3ceee] .el-dialog .icon-info{display:flex;flex-direction:column;justify-content:space-between;height:100%}[data-v-46e3ceee] .el-dialog .icon-info .title{font-size:24px;font-weight:700}
