
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.netlify.app
 * 代码仓库
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
    
.el-image[data-v-22e0aef4]{border-radius:5px;background-color:var(--el-fill-color);box-shadow:var(--el-box-shadow-light);transition:background-color .3s,var(--el-transition-box-shadow)}.el-image[data-v-22e0aef4] .el-image__inner{transition:all .3s;cursor:pointer}.el-image[data-v-22e0aef4] .el-image__inner:hover{transform:scale(1.2)}.el-image[data-v-22e0aef4] .image-slot{display:flex;justify-content:center;align-items:center;width:100%;height:100%;color:#909399;font-size:30px}
