
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.netlify.app
 * 代码仓库
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
    
.buy-it[data-v-286c9be6]{position:fixed;z-index:10;right:-58px;top:50%;transform:translateY(-50%);width:70px;display:flex;flex-direction:column;transition:right .3s}.buy-it.actived[data-v-286c9be6],.buy-it[data-v-286c9be6]:hover{right:0}.buy-it .item[data-v-286c9be6]{display:flex;flex-direction:column;justify-content:center;height:70px;text-align:center;color:#fff;border-bottom:1px solid #fff;transition:.3s;opacity:.7;cursor:pointer}.buy-it .item[data-v-286c9be6]:hover{opacity:1}.buy-it .item[data-v-286c9be6]:first-child{border-top-left-radius:5px}.buy-it .item[data-v-286c9be6]:last-child{border-bottom-left-radius:5px;border-bottom:0}.buy-it .item[data-v-286c9be6]:nth-child(1){background-color:var(--el-color-primary)}.buy-it .item[data-v-286c9be6]:nth-child(2){background-color:var(--el-color-warning)}.buy-it .item[data-v-286c9be6]:nth-child(3){background-color:var(--el-color-success)}.buy-it .item[data-v-286c9be6]:nth-child(4){background-color:var(--el-color-error)}.buy-it .item[data-v-286c9be6]:nth-child(5){background-color:var(--el-color-info)}.buy-it .item i[data-v-286c9be6]{display:block;margin:0 auto;font-size:20px}.buy-it .item .title[data-v-286c9be6]{display:inline-block;font-size:12px}
