
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.netlify.app
 * 代码仓库
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
    
.title[data-v-797cc5ea]{position:fixed;z-index:1000;top:0;width:inherit;padding:0 10px;display:flex;align-items:center;justify-content:center;height:var(--g-sidebar-logo-height);text-align:center;overflow:hidden;text-decoration:none}.title.is-link[data-v-797cc5ea]{cursor:pointer}.title .logo[data-v-797cc5ea]{width:30px;height:30px}.title .logo+span[data-v-797cc5ea]{margin-left:10px}.title span[data-v-797cc5ea]{display:block;font-weight:700;color:#fff;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
