
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.netlify.app
 * 代码仓库
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
    
.copyright[data-v-06b111ae]{display:flex;align-items:center;justify-content:center;margin:40px 0 20px;color:var(--el-text-color-secondary);font-size:14px}.copyright span[data-v-06b111ae],.copyright a[data-v-06b111ae]{padding:0 5px}.copyright .el-icon[data-v-06b111ae]{margin:0 2px}.copyright a[data-v-06b111ae]{text-decoration:none;color:var(--el-text-color-secondary);transition:var(--el-transition-color)}.copyright a[data-v-06b111ae]:hover{color:var(--el-text-color-primary)}
