
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.netlify.app
 * 代码仓库
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
    
.sparkline[data-v-eb57ad0b]{position:relative}.sparkline[data-v-eb57ad0b] .sparkline--cursor{stroke:var(--095c993a)}.sparkline[data-v-eb57ad0b] .sparkline--spot{fill:var(--43f36eb7);stroke:var(--43f36eb7)}.sparkline .tooltip[data-v-eb57ad0b]{position:absolute;background:rgba(0,0,0,.7);color:#fff;padding:2px 5px;font-size:12px;white-space:nowrap;z-index:9999}
