
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.netlify.app
 * 代码仓库
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
    
.block[data-v-7e899449]{display:flex;justify-content:center;align-items:center;margin:10px 0;width:100px;height:100px;color:#fff;background:#409eff}img[data-v-7e899449]{display:block;width:100px;height:100px}
